@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  color: #ff00e7;
}
h2 {
  color: #ad00ff;
}





.pageSection {
  background-color: #a8ccd8;
  margin: 20px;
  padding: 20px;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul {
  padding: 0;
  list-style: none;
}
.list li {
  margin: 10px;
  padding: 10px;
}

ul.style-blue li {
  background:#20a9ec;
}
ul.style-lime li {
  background:lime;
}


fieldset {
  border: 0;
  background: #eee;
  margin: 5px;
}